#home { 
    width: 300px; 
    position: fixed; 
    left: 0%;
    height: 100%; 
    background-color: #3a2a38; 
    opacity: 1;
    color: white;
}

#title {
  /*overflow:auto;*/
  width: 150px;
  display: inline-block;
  float: left;
  letter-spacing: .25em;
  left: 0%;
  margin-right: 25px;
  margin-left: 25px;
  color: #6e8453;
}

.header .headerContent {
  color: #afb56c;
}

#newRoomBtn {
  display: inline-block;
  /*margin-top: 26px;*/
  margin-bottom: 20px;
  margin-left: 80px;
}

.container .main {
    margin-bottom: 30px;
}

.header {
    display: block;
    border-bottom: 1px solid #c4761d;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.headerContent {
    display: block;
    margin-left: 25px;
}

#mainContent {
    display: block;
    margin-left: 25px;
}
.text {
    display: block;
    margin-bottom: 15px;
}

#activeRoom {
  width: 90%;
  text-align: center;
}

#activeRoomContent {
  position: relative;
  display: inline-block;
}

.roomText {
  top: 9%;
}

.roomTitle {
  
}
.messageBoard {
  position: absolute;
  padding-top: 25px;  
  text-align: left;
}

/*.msg {
  text-align: left;
  margin-top: 15px; 
}
*//*
.tme {
  display: inline-table;
  margin-left: 150px;
}*/

#info { 
    height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #3a2a38; 
    opacity: 1;
    color: #ac91ad;
    text-align: center;
}

#nav { 
    width: 200px; 
    position: fixed; 
    right: 0%;
    height: 100%; 
    background-color: #3a2a38; 
    opacity: 1;
    color: white;
    text-align: center;
    top: 0%;
    bottom: 15%;
    display: table;
}
.navText {
    display: table-cell;
    vertical-align: text-top;
    padding: 2px;
    text-align: center;

}

#signInBtn {
  margin-top: 11px;
  margin-right: 33px;
  margin-bottom: 22px;
}

a {
  color: #776175;
}

.contactText {
  margin-top: 15px;
  display: table-cell;
  text-align: center;
}

.contactText h4 {
    border-bottom: 1px solid #c4761d;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #6e8453;
}

.contactText p {
    color: #776175;
}

