<div class="modal-header">
    <h4 class="modal-title centered">Sign in as user</h4>
</div>         
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input class="form-control" placeholder="Justin Credible" type="text" id="inputUsername" ng-model="user.name"> 
            <br>
            <label for="inputPassword">Secure you account</label>
            <input class="form-control" placeholder="•••••••" type="text" id="inputPassword" ng-model="password">
        </div>
    </form>    
</div>
<div class="modal-footer">
    <button type="button" ng-click="loginModal.login()" class="btn btn-secondary pull-left" >Login</button>
</div>      
