<body>
    <div id="home">
        <div class="container main">
            <div id="title">
                <h1>
                    {{ main.title }}
                </h1>
            </div>
        </div>    
        <div>
            <h5 class="header">
                <ul class="headerContent">
                    Rooms available
                </ul>
            </h5>
            <div id="newRoomBtn">
                <button type="button" class="main btn btn-secondary" ng-click="addRoomModal()">
                    New room
                </button>
            </div>
        </div>
        <div id="mainContent" class="chat-room">
            <ul class="text">
                <p ng-repeat="room in roomArray">
                    <a ng-click="getActiveRoom(room)">{{ room.name }}</a>
                </p>
            </ul>
            <div id="info">
                <h5>Page loaded on: {{ today }}</h5>
            </div>
        </div>
    </div>
    <!-- Individual chat room & messages -->
    <div class="tile is-ancestor" id="activeRoom">
        <div class="tile is-8 is-vertical is-offset-4 is-parent" id="activeRoomContent">
            <h2 style="margin-bottom: 50px;">{{ activeRoom || 'Pick a room'}}</h2>
            <li class="tile is-child box message" ng-repeat="message in messageArray">
                <h6 class="message" style="text-align: left;">{{ message.username }} sent at  {{ message.sentAt }}</h6>
                <h5 class="message" style="text-align: right;">{{ message.content }}</h5>
            </li>
        </div>
    </div>



</body>

