<div class="modal-header">
    <button class="close" ng-click="logModal.cancel()">&times;</button>
    <h4 class="modal-title">Sign in as user</h4>
</div>         
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="inputUserName">Username</label>
            <input class="form-control" placeholder="Superman" type="text" id="inputUserName" ng-model="messages.username"> 
            <label for="inputPassword">Password</label>
            <input class="form-control" placeholder="XXXXX" type="text" id="inputPassword"> 
        </div>
    </form>    
</div>
<div class="modal-footer">
    <button type="button" ng-click='logModal.cancel()' class="btn btn-default" >Cancel</button>
    <button type="button" ng-click="logModal.add()" class="btn btn-primary" >Log In</button>
</div>      
